:root {
  --darkblue: #217093;
  --medBlue: #4eb8dd;
  --lightblue: #ddf1fa;
  --inputBG: #f3fafd;
  --backgroundBody: #eff3f4;
  --white: #fff;
  --gray: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  display: -webkit-inline-flex;
  background-color: var(--backgroundBody);
  align-items: center;
  justify-content: center;
  padding: 8px;
}